<header>
    <nav id="header-nav">
        <div id="header-left">
            <a id="logo" href="/">PIXEL Labyrinth</a>
            <!-- <ul>
                <li><a href="/users">User</a></li>
                <li><a href="/users/signup">Create User</a></li>
                <li><a href="/users/login">Login User</a></li>
                <li><a href="/posts/createPosts">Create Post</a></li>
                <li><a href="/posts">Forum</a></li>
                <li><a href="/profiles">Profiles</a></li>
                <li><a href="/games">Games</a></li>
            </ul> -->
            <a id="home" class="header-tab" href="/">Home</a>
            <a id="games" class="header-tab" href="/games">Games</a>
            <a id="forum" class="header-tab" href="/posts">Forum</a>
        </div>
        <% if(!isLoggedIn) {%>
            <div id="header-user"><a  href="/users/login">login</a></div>
        <% } else {%>
        <div id="header-user">
            <a  href="/profiles/">
                <img height="40px" width="40px" src="uploads/pfpImages/<%= loggedUser.pfp %>">
            </a>
            <span class="username"><%= loggedUser.username %></span>
        </div>
        <% } %>
    </nav>
</header>