<header>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="/users">User</a></li>
            <li><a href="/users/signup">Create User</a></li>
            <li><a href="/users/login">Login User</a></li>
            <li><a href="/posts/createPosts">Create Post</a></li>
            <li><a href="/posts">Forum</a></li>
            <li><a href="/profiles">Profiles</a></li>
            <li><a href="/games">Games</a></li>
        </ul>
    </nav>
</header>