<header>
    <nav id="header-nav">
        <div id="header-left">
            <a id="logo" href="/">PIXEL Labyrinth</a>
            <a id="home" class="header-tab" href="/">Home</a>
            <a id="games" class="header-tab" href="/games">Games</a>
            <a id="forum" class="header-tab" href="/posts">Forum</a>
        </div>
        <% if(!isLoggedIn) {%>
            <div id="header-user"><a  href="/users/login">Login</a></div>
        <% } else {%>
        <div id="header-user">
            <div class="circle-container" style="height: 40px; width: 40px;">
                <a  href="/profiles/<%= loggedUser.id %>">
                    <img class="user-pfp" height="40px" width="40px" src="/uploads/pfpImages/<%= loggedUser.pfp %>">
                </a>
            </div>
            <span class="username"><%= loggedUser.username %></span>
        </div>
        <% } %>
    </nav>
</header>