<body>
    <div class="page">
        <%- include('profileInfo') %>
    </div>
<% timeline.forEach(entry => { %>
    <% console.log('entry') %>
    <% console.log(entry) %>
    <div>
        <% if (entry.title) { %>
            <!-- post -->
            <%- include('../partials/postBox.ejs', {post: entry})%>
        <% } else { %>
            <!-- comment -->
            <%- include('../partials/commentBox.ejs', {comment: entry}) %>
        <% } %>
    </div>
<% }) %>
</body>