<body>
    <div class="page">
        <%- include('profileInfo') %>
    </div>
</body>
<h3>Timeline</h3>
<% posts.forEach(entry => { %>
    <div>
            <%- include('../partials/postBox', {post: entry}) %>
    </div>
<% }) %>