<body>
    <div class="page">
        <div class="left">
            <img height="150" width = "100" src='\uploads\postImages\1700245546276.jpg'>
        </div>
        <div class="right">hello</div>
    </div>

</body>