<h2>Create Posts</h2>
<form action="./createPosts" method="POST" enctype="multipart/form-data">
<input type="text" name="title">
<textarea name="postDescription">Description</textarea>
<select name="game">
    <option value="Apex Legends">Apex Legends</option>
    <option value="Counter Strike">Counter Strike</option>
    <option value="Valorant">Valorant</option>
</select>
<input type="file" name="imagePost">
<button type="submit">Create</button>
</form>

<br>
<br>
<form action="./createComments" method="POST">
    <textarea name="comment">Comment</textarea>
    <button type="submit">Create</button>
</form>